body{
font-family:'Segoe UI',sans-serif;
margin:0;
background:#f4f6f5;
color:#2c2c2c;
line-height:1.6;
}



.topbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#2e6f57;
padding:20px;
color:white;
}

.logo h1{
margin:0;
}

.logo a{
color:white;
text-decoration:none;
}

.logo a:hover{
opacity:0.85;
}



nav{
background:#2e6f57;
text-align:center;
padding:12px 0;
}

nav a{
color:white;
margin:0 12px;
text-decoration:none;
font-weight:500;
transition:0.2s;
}

nav a:hover{
opacity:0.7;
}



.hero{
background:#e9f2ef;
padding:70px 20px;
text-align:center;
}

.hero h2{
margin-top:0;
}



section{
max-width:950px;
margin:50px auto;
padding:40px 30px;
background:white;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}



.button{
display:inline-block;
background:#2e6f57;
color:white;
padding:12px 22px;
border-radius:6px;
text-decoration:none;
margin-top:20px;
transition:0.2s;
}

.button:hover{
background:#245844;
}



.email-box{
background:#d8f3dc;
padding:30px;
border-radius:10px;
text-align:center;
}

.email-box input{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
margin-right:10px;
}



.footer{
background:#1b4332;
color:white;
text-align:center;
padding:30px;
margin-top:60px;
}
